@model mvcBirds.Models.Sighting

@{
    var birders = ViewData["Birder"] as List<mvcBirds.Models.Birder>;
    var birds = ViewData["Bird"] as List<mvcBirds.Models.Bird>;
}

<h1>Register</h1>

@if (birders ==null || birders.Count == 0 || birds == null || birds.Count == 0)
{
    <div class="alert-warning">
        No birders or birds available. Please ensure they are addded first
    </div>
}
else
{
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="Birder_ID">Select Birder</label>
            <select asp-for="Birder_ID" class="form-control" asp-items="@(new SelectList(birders, "Birder_Id", "Birder_Name"))">
                <option value="">-- Select Birder --</option>
            </select>
            <span asp-validation-formaction="Birder_ID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bird_ID">Select Bird</label>
            <select asp-for="Bird_ID" class="form-control" asp-items="@(new SelectList(birds, "Bird_Id", "Bird_Name"))">
                <option value="">-- Select Bird --</option>
            </select>
            <span asp-validation-formaction="Bird_ID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Sighting_Location"></label>
            <input asp-for="Sighting_Location" class="form-control" />
            <span asp-validation-for="Sighting_Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Sighting_Date"></label>
            <input asp-for="Sighting_Date" class="form-control" type="datetime" />
            <span asp-validation-for="Sighting_Date" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit Sighting</button>
        
    </form>
}
